
#ABOUT {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
            background: linear-gradient(#60ebeb 0%, #27ae60 100%);
     text-align: center;


}
#img2{
    width: 300px;
     text-align: center;

}
#CAUSES{
     text-align: center;

}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}
#img1{
    height: 200px;
    width: 200px;
}
#vid{
    height: 400px;
    width: 800px;
}
#PEOPLE_OVERCOMING{
    text-align: center;
}
#COPING_MECHANISM{
    background-color:antiquewhite;
}
#img23{
    height: 270px;
}
#Resolution{
    background-color: aquamarine;
}
#img33{
    height: 400px;
    width: 450px;
}